body {
	font-family:comic sans ms,cursive;
	color:#EEEEEE;
}

header{
	width:100%;
	height:85px;
	background-color:#ead2ac;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 6px;
}
	
table{
	width: 100%;
    height: 100%
}	

td > img {
    top: 120px;
    position: absolute;	
}

header > img {
	float:left;
}

#fio{
	color:#4281A4;
	font-size: 28px;		
	float:right;
}

.point{
	color:#4281A4;
	font-size: 28px;
	float:left;
}

.ansPoint{
	color:#4281A4;
	font-size: 18px;
	float:left;
}


input[type=range] {
	-webkit-appearance: none;
	margin: 10px;
	width: 95%;
}

.button{
	text-decoration:none; 
	text-align:center; 
	padding:11px 32px; 
	border:solid 1px #004F72; 
	border-radius: 4px; 
	font-size: 18px;
	font-family:comic sans ms,cursive;
	color:#ffffff; 
	background-color:#4282a4; 
	float:center;
}

.w3-check:after{
	content: "ಠ⌣ಠ";
	padding-left: 50px;
}

.button:hover{
	background-color:#226284;
}

.error {
	color: #ff7777;
}

#ans {
	border: 2px; 
	border-collapse: collapse;
}

